# Focused
set $line_f #ff79c6
set $fill_f #282a36
set $text_f #ff79c6

# class                 border  bground text    indicator child_border
client.focused          $line_f $fill_f $text_f #8be9fd   $line_f
client.focused_inactive #8C8C8C $fill_f #FFFFFF #4C4C4C   #8C8C8C
client.unfocused        #4C4C4C $fill_f #888888 #292D2E   #222222
client.urgent           #EC69A0 #DB3279 #FFFFFF #DB3279   #DB3279
client.placeholder      #000000 #0C0C0C #FFFFFF #000000   #0C0C0C

client.background       #FFFFFF
