# Focused
set $line_f #830083
set $fill_f #510051
set $text_f #00ff00

# class                 border  bground text    indicator child_border
client.focused          $line_f $fill_f $text_f #ff00ff   #510051
client.focused_inactive #8C8C8C #4C4C4C #FFFFFF #4C4C4C   #8C8C8C
client.unfocused        #4C4C4C #222222 #888888 #292D2E   #222222
client.urgent           #EC69A0 #DB3279 #FFFFFF #DB3279   #DB3279
client.placeholder      #000000 #0C0C0C #FFFFFF #000000   #0C0C0C

client.background       #FFFFFF
