# Focused
set $line_f #9ece6a
set $fill_f #1a1b26
set $text_f #9ece6a

# class                 border  bground text    indicator child_border
client.focused          #9ece6a $fill_f $text_f #ad8ee6   #9ece6a
client.focused_inactive #8C8C8C #4C4C4C #FFFFFF #4C4C4C   #8C8C8C
client.unfocused        #4C4C4C #222222 #888888 #292D2E   #222222
client.urgent           #EC69A0 #DB3279 #FFFFFF #DB3279   #DB3279
client.placeholder      #000000 #0C0C0C #FFFFFF #000000   #0C0C0C

client.background       #FFFFFF
